body{
  text-align: center;
  margin: auto;
  background: #161a40;
}

img{
  width: 113px;
  height: 67px;
}

h1{
  font-size: 64px;
}

h2{
  font-family: arial, serif;
}

table, th, td {
   border: 1px solid black;
}

td {
  text-align: center;
}
table{
  background: #ffffff;
  position: relative;
  top: 50%;
  left: 40%;
  padding: 5px;
  margin: 10px;
}
