@font-face {
    font-family: 'know_your_productregular';
    src: url(fonts/knowYourProduct/know_your_product-webfont.eot);
    src: url(fonts/knowYourProduct/know_your_product-webfont.eot?#iefix) format(embedded-opentype),
         url(fonts/knowYourProduct/know_your_product-webfont.woff) format(woff),
         url(fonts/knowYourProduct/know_your_product-webfont.ttf) format(truetype),
         url(fonts/knowYourProduct/know_your_product-webfont.svg#know_your_productregular) format(svg);
    font-weight: normal;
    font-style: normal;

}



body{
  background-image: url(img/background.jpg);
}
.container{
  width:960px;
  background-image: url(img/background.jpg);
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: auto;
  font-family: arial;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
 -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
 box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

.rivet1 img{
  width: 5%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
}

.rivet2 img{
  position: relative;
  top: -65px;
  left: 450px;
  margin: 0px;
  width: 5%;
  height: 5%;
}

.rivet3 img{
  width: 5%;
  height: 5%;
  position: relative;
  top: 90px;
  display: flex;
  justify-content: flex-end;
}

.rivet4 img{
  position: relative;
  top: 25px;
  left: 450px;
  margin: 0px;
  width: 5%;
  height: 5%;
}

.header{
  background: rgba(0, 0, 0, 0.2);
}

.header ul li{
  color: #6992ee;
}

.logo img{
  position: relative;
  top: 60px;
  left: 200px;
  z-index: -1;
  width: 113px;
  height: 67px;
}

ul li{
  list-style-type: none;
}

h1{
  background: -webkit-linear-gradient(top, #8a110d, #000);
  background: linear-gradient(top, #8a110d, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-family: 'know_your_productregular', sans-serif;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 20px;
  z-index: 1;
}

h2{
  font-family: arial, serif;
}

table, th, td {
   border: 1px solid black;
}

td {
  text-align: center;
}
table{
  background: #ffffff;
  position: relative;
  top: 50%;
  left: 40%;
  padding: 5px;
  margin: 10px;
}
.nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
  font-size: 18px;
  margin: 10px;
}

a:link{
  color: #6992ee;
  text-decoration: none;
}

a:hover{
  color: #4ca199;
}

.image{
  font-size: 18px;
}

.hut img{
  height: 520px;
  width: 100%;
}

.info h2{
  font-family: 'know_your_productregular', sans-serif;
  font-size: 26px;
  border-bottom: 5px solid #4e4e4e;
  margin: 50px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 2px 2px #8a110d;
}
.info p{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  text-shadow: 2px 2px #8a110d;
}
